* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  outline: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  width: 50%;
  height: 50vh;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img.foto{
  width: 70%;
}
